<!DOCTYPE html>

<html>
    <head>
        <title>About | Stalkr</title>
        <meta name="description" content="Learn what Stalkr is all about: intro and FAQ.">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.ico")'>
        <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
    </head>
    <body>
    
    <div id="main">
        <div style="background-color: rgba(255, 255, 255, .7); width: 500px; margin: auto; text-align: justify; font-size: 11pt; padding: 30px;">

            <h2 align="center" style="color: #3a87a5;">See any tumblr blog,<br />without the reblogs</h2><br />

            <p>Sometimes, we just want to look at someone's writing, photos, art, or viral
            text posts. Then we hit the mound of reblogged posts.</p>
            <br />
            <p>Stalkr digs out the original posts of any tumblr user, so you don't have to.
            </p>
            <br />
            <div style="width:400px; margin: auto; font-size: 10pt; padding: 10px 20px; border-left: 1px dashed #92d3e5; border-right: 1px dashed #92d3e5;">
            <p style="padding-bottom: 4px; text-align: center;"><i>How does Stalkr work?</i></p>
            <p>Stalkr retrieves a number of posts using Tumblr's API, and filters 
            out the reblogged stuff, keeping only the original content. The posts 
            are then displayed on Stalkr.</p>
            <br />
            <p style="padding-bottom: 4px; text-align: center;"><i>How did you make Stalkr?</i></p>
            <p>Stalkr was built with the Play 2.0 framework. The backend is written 
            in Java, and the site uses the Scala template engine that comes with 
            Play. And of course, all blog content comes through with Tumblr's API. 
            </p>
            <br />
            <p style="padding-bottom: 4px; text-align: center;"><i>Are my private posts shown?</i></p>
            <p>No. Tumblr hands over only public posts, ones that can be found on 
            your blog anyway.</p>
            <br />
            <p style="padding-bottom: 4px; text-align: center;"><i>Are you saving copies of my blog?</i></p>
            <p><b>Never!</b> Once you leave a page where content is displayed, that 
            content is gone and must be retrieved again from Tumblr's servers in order 
            to be displayed again. I also don't have the storage space to cache any blog! 
            However, anyone can enter your blog's URL to Stalkr, and proceed to manually 
            save content from your blog. Stalkr has access to whatever you publicly 
            post on tumblr, so in general, don't publish anything you don't want others 
            to see.</p>
            <br />
            <p style="padding-bottom: 4px; text-align: center;"><i>So Stalkr gets every one of my original posts?</i></p>
            <p>Ideally, yes. Realistically, it depends on you, me, and Tumblr.
            
            <ol style="padding-left: 50px; padding-right: 40px; margin: 5px;">
                <li>It depends on what you consider "original."
                For example, if you reblog your own original post,
                the reblogged post will not be included in Stalkr's results. Even though the reblogged post's content is 100% yours,
                it has a "reblogged from" marker, and is filtered out.</li>
                <li>I'm human. Moreover, I'm a human who's learning lots. I have made and will make mistakes with this application.</li>
                <li>Of course, Stalkr depends on Tumblr's response to post requests to be complete and accurate.</li>
            </ol>
            </p>
            </div>
            <br />
            <h3 style="color: #3a87a5;">by Yuki P.</h3>

            <p>I'm a student studying Computer Science and Cognitive Science at the 
            University of California, Berkeley. I've always needed something like 
            Stalkr and I just feel lucky I have this opportunity to make it.<p><br /> 
            <p>I'm working on my personal website right now,
            but in the meantime, I have a tumblr blog to stand in: <a href="http://chezyuki.tumblr.com/">chezyuki.tumblr.com</a>.<br /> 
            You can email me at <a href="mailto:contact@@stalkr.me">contact@@stalkr.me</a>.</p><br />
            
            <p><small><a href="/">《 home</a></small></p>

        </div>
    </div>
    
    </body>
</html>